# Dependências
node_modules/
.pnp
.pnp.js

# Variáveis de Ambiente & Credenciais
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.pem
*.key

# Builds & Produção
dist/
build/
out/
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db
Desktop.ini

# IDEs & Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
